<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Restaurant</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-dish' ? 'active' : '' %>" href="/admin/add-dish">Add Dish</a></li>
        </ul>
    </nav>
</header>